html {
    font-family: sans-serif;

}

body {
    width: 50%;
    margin: 0 auto;
    /*max-width: 800px;
    min-width: 480px;*/

}

header {
    /*border: 2px solid #F00;*/
    margin: 0 auto;
}

h2, h6 {
    text-align: center;
}


table, td, Button {
    border: 2px solid black;
    border-collapse: collapse;
}

.key {
    height: 30px;
    width: 100px;
    float: right;
    /*margin-top: 23px;*/
    margin-right: 50px;
}

.keysquare {
    height: 30px;
    width: 50px;
}

.mainboard {
    width: 300px;
    height: 120px;
    margin-top: 45px;
    margin-left: 20px;
}

.square {
    width: 75px;
    height: 30px;
}

.container {
  margin: 0 auto;
}

tr {
    width: 300px;
    height: 30px;
}

Button {
    margin-left: 5px;
    margin-top: 40px;
    width: 75px;
    height: 30px;
}

#undoButton {
    background-color: white;
    text-align: center;
}

#greyButton {
    background-color: gray;
}

#redButton {
    background-color: red;
}

#yellowButton {
    background-color: yellow;
}

#greenButton {
    background-color: green;
}

#blueButton {
    background-color: blue;
}

#purpleButton {
    background-color: purple;
}

#orangeButton {
    background-color: orange;
}

#blackButton {
    background-color: black;
}
